.App{
  box-sizing: border-box;
  
  padding: 0;
  font-family:  Oxygen,sans-serif;
  margin: 2rem;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
  gap: 2rem;
  justify-content: center;
}
.card{
  overflow: hidden;;
  box-shadow: 0 2px 2px sclr-gray300;
  border-radius: 1px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

}

.card--image{
  height: 12rem;
  
  object-fit: cover;
}

.cardTitle{
  padding: 1rem;

}

.card--description{
  padding: 0 1rem;
}

.card--btn{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: solid red;
  background-color: transparent;
  color: red;
  transition: background 200ms ease-in, color 200ms ease-in;
}
